<div class="container">
    <legend>Create Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "RestaurantForm.name" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtAdress" class="form-label">Address</label>
        <input type="text" name="address" [(ngModel)] = "RestaurantForm.address" class="form-control" id="txtAdress" />
      </div>
      <div class="mb-3">
        <label for="txtPhone" class="form-label">Phone</label>
        <input type="text" name="phone" [(ngModel)] = "RestaurantForm.phone" class="form-control" id="txtPhone" />
      </div>
      <div class="mb-3">
        <label for="txtImage" class="form-label">Image</label>
        <input type="text" name="Image" [(ngModel)] = "RestaurantForm.image" class="form-control" id="txtImage" />
      </div>                  
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
  </div>